* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 650px;
    width: 500px;
}

h2 {
margin-top: 20px;
font-family: 'Times New Roman', Times, serif;
text-align: justify;
}

.gallery__button {
    margin-left: 170px; 
}

